{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/static/images/favicon.png"
      type="image/x-icon"
    />
    <title>Symbi TT-Contact</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css"
    />
    <link rel="stylesheet" href="https://unpkg.com/sheryjs/dist/Shery.css" />

    <link rel="stylesheet" href="/static/css/contact.css" />
  </head>
  <body>
    <div id="main">
      <nav>
        <div id="nav-left">
          <a href="/"
            ><img src="/static/images/logo-no-background.png" alt=""
          /></a>
        </div>
        <div id="nav-right">
          <div id="nav-1">
            <a href="/"><h4>Home</h4></a>
            <a href="/about/"><h4>About</h4></a>
            <a href=""><h4>Contact</h4></a>
          </div>
          <div id="nav-2">
            <a href="#">
              <span>Login</span>
            </a>
          </div>
        </div>
      </nav>
      <div id="page1">
        <div id="contact">
          <div class="content">
            <h1>Let's <em> Talk </em></h1>
          </div>
          <div class="underline"></div>
          <div id="form-container">
            <form action="">
              <div class="input-box">
                <input type="text" required />
                <label for="name">Name</label>
              </div>
              <div class="input-box">
                <input type="text" required />
                <label for="name">Email</label>
              </div>
              <div class="input-box">
                <input type="text" required />
                <label for="name">Message</label>
              </div>
              <button type="submit"><span>Send!</span></button>
            </form>
            <div id="contact-info">
              <div class="elem-cont">
                <h1>Contact Information</h1>
              </div>
              <div id="info">
                <div class="elem-cont">
                  <h3><i class="ri-phone-line"> - </i>6205764684</h3>
                </div>
                <div class="elem-cont">
                  <h3><i class="ri-mail-fill"> - </i>xyz@gmail.com</h3>
                </div>
                <div class="elem-cont">
                  <h3><i class="ri-map-pin-range-fill"> - </i>SICSR</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="footer">
        <div id="footer-container">
          <div class="links">
            <div class="overflow">
              <h3>Socials</h3>
            </div>
            <a
              href="https://www.linkedin.com/pulse/topics/home/?trk=guest_homepage-basic_guest_nav_menu_articles"
              target="_blank"
            >
              <div class="button">
                <span class="label-up"
                  ><i
                    class="ri-linkedin-box-fill"
                    style="color: rgb(219, 212, 212); font-size: 2vw"
                  ></i
                  >LinkedIn</span
                >
                <span class="label-up"
                  ><i
                    class="ri-linkedin-box-fill"
                    style="color: rgb(219, 212, 212)"
                  ></i
                  >Lin kedIn</span
                >
              </div>
            </a>

            <a href="https://github.com/i-Rony-op" target="_blank">
              <div class="button">
                <span class="label-up"
                  ><i class="ri-github-fill"></i>GitHub</span
                >
                <span class="label-up"
                  ><i class="ri-github-fill"></i>GitHub</span
                >
              </div>
            </a>

            <a href="https://www.instagram.com/" target="_blank">
              <div class="button">
                <span class="label-up"
                  ><i class="ri-instagram-line"></i>Instagram</span
                >
                <span class="label-up"
                  ><i class="ri-instagram-line"></i>Instagram</span
                >
              </div>
            </a>

            <a href="https://twitter.com/" target="_blank">
              <div class="button">
                <span class="label-up"
                  ><i class="ri-twitter-x-fill"></i>Twitter</span
                >
                <span class="label-up"
                  ><i class="ri-twitter-x-fill"></i>Twitter</span
                >
              </div>
            </a>
          </div>
          <div class="links">
            <div class="overflow">
              <h3>Quick Links</h3>
            </div>
            <a href="/">
              <div class="button">
                <span class="label-up"
                  ><i class="ri-home-3-line" style="font-size: 2.2vw"></i
                  >Home</span
                >
                <span class="label-up"
                  ><i class="ri-home-3-line" style="font-size: 2.2vw"></i
                  >Home</span
                >
              </div>
            </a>

            <a href="/about/">
              <div class="button">
                <span class="label-up"
                  ><i class="ri-user-search-line"></i>About</span
                >
                <span class="label-up"
                  ><i class="ri-user-search-line"></i>About</span
                >
              </div>
            </a>

            <a href="">
              <div class="button">
                <span class="label-up"
                  ><i class="ri-customer-service-2-line"></i>Contact</span
                >
                <span class="label-up"
                  ><i class="ri-customer-service-2-line"></i>Contact</span
                >
              </div>
            </a>
          </div>
          <div class="links">
            <div class="overflow">
              <h3>Wanna Talk?</h3>
            </div>
            <div class="button" style="height: 2.9vw">
              <span class="label-up mail"
                ><i class="ri-mail-send-line"></i> xyz@gmail.com
              </span>
              <span class="label-up mail"
                ><i class="ri-mail-send-line"></i> xyz@gmail.com
              </span>
            </div>
            <div id="img-cont">
              <img src="/static/images/logo-no-background.png" alt="" />
            </div>
          </div>
        </div>
        <div id="copyright">
          <h3>Symbi Time Table &copy; 2024</h3>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>

    <script
      type="text/javascript"
      src="https://unpkg.com/sheryjs/dist/Shery.js"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
      integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
      rel="stylesheet"
    />

    <script src="/static/js/contact.js"></script>
  </body>
</html>
