@font-face {
  font-family: gil;
  src: url("/static/font/Gilroy-Light.otf");
}

@font-face {
  font-family: Nunito;
  src: url("/static/font/Nunito-VariableFont_wght.ttf");
}

@font-face {
  font-family: plain;
  src: url("/static/font/plain-regular-webfont.woff");
}

@font-face {
  font-family: os;
  src: url("/static/font/Oswald-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito;
  background-color: #151515;
}
html,
body {
  height: 100%;
  width: 100%;
}
#page1 {
  width: 100%;
  min-height: 100vh;
  padding: 1vw 3vw;
}

nav {
  display: flex;
  align-items: center;
  background-color: transparent;
  justify-content: space-between;
  width: 100%;
  height: 5vw;
  padding: 4vw 3vw;
}
#nav-left img {
  width: 4.5vw;
}
#nav-right {
  display: flex;
  align-items: center;
  gap: 1.5vw;
}
#nav-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4vw;
  background-color: transparent;
}
#nav-1 a {
  padding: 1.4vw;
}
#nav-1 a h4 {
  font-size: 1.3vw;
  font-weight: 600;
}
#nav-2 a {
  display: inline-block;
  border-radius: 0.3vw;
  background-color: rgba(255, 64, 0, 0.854);
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 1.3vw;
  padding: 0.8vw 0vw;
  width: 7vw;
  transition: all 0.5s;
  cursor: pointer;
}

#nav-2 a span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  background: transparent;
}

#nav-2 a span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -1vw;
  transition: 0.5s;
}

#nav-2 a:hover span {
  padding-right: 1vw;
}

#nav-2 a:hover span:after {
  opacity: 1;
  right: 0;
}
nav ul li {
  list-style: none;
}
nav a {
  text-decoration: none;
  color: white;
}

#about {
  width: 100%;
  height: 38vw;
  padding: 1vw 5vw;
  display: flex;
  flex-direction: column;
  gap: 2vw;
}
.content {
  overflow: hidden;
}
#about h1 {
  background-color: transparent;
  font-family: plain;
  text-transform: uppercase;
  font-size: 7vw;
  color: #fff;
  font-weight: 500;
}
#about .underline {
  border-bottom: 1px solid white;
  width: 80%;
}
#about h1 em {
  background-color: transparent;
  font-family: plain;
  text-transform: uppercase;
  font-size: 7vw;
  -webkit-text-stroke: 0.1vw rgba(255, 64, 0, 0.854);
  color: transparent;
}
#about p {
  width: 80%;
  color: #fff;
  background: transparent;
  font-size: 1.5vw;
  line-height: 2.5vw;
}

#objective {
  width: 100%;
  height: 38vw;
  padding: 1vw 5vw;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 2vw;
}
#objective h1 {
  background-color: transparent;
  font-family: plain;
  text-transform: uppercase;
  font-size: 7vw;
  color: #fff;
  font-weight: 500;
}
#objective .underline {
  border-bottom: 1px solid white;
  width: 80%;
}
#objective h1 em {
  background-color: transparent;
  font-family: plain;
  text-transform: uppercase;
  font-size: 7vw;
  -webkit-text-stroke: 0.1vw rgba(255, 64, 0, 0.854);
  color: transparent;
}
#objective .para {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 80%;
}
#objective .para p {
  color: #fff;
  background: transparent;
  font-size: 1.5vw;
  line-height: 2.5vw;
  text-align: end;
}
#scope {
  width: 100%;
  height: 38vw;
  padding: 1vw 5vw;
  display: flex;
  flex-direction: column;
  gap: 2vw;
}
#scope h1 {
  background-color: transparent;
  font-family: plain;
  text-transform: uppercase;
  font-size: 7vw;
  color: #fff;
  font-weight: 500;
}
#scope .underline {
  border-bottom: 1px solid white;
  width: 80%;
}
#scope h1 em {
  background-color: transparent;
  font-family: plain;
  text-transform: uppercase;
  font-size: 7vw;
  -webkit-text-stroke: 0.1vw rgba(255, 64, 0, 0.854);
  color: transparent;
}
#scope p {
  width: 80%;
  color: #fff;
  background: transparent;
  font-size: 1.5vw;
  line-height: 2.5vw;
}

#footer {
  width: 100%;
  height: 50vh;
  background-color: #202020 !important;
}

#footer .underline {
  border-bottom: 1px solid white;
  width: 100%;
  margin-top: 0.5vw;
}
#footer #footer-container {
  width: 100%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0vw 8vw;
  background-color: #202020 !important;
}
#footer .links {
  height: 80%;
  width: 20vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  background-color: #202020 !important;
}
#footer .links h3 {
  color: rgba(255, 64, 0, 0.854);
  width: 100%;
  margin-bottom: 1vw;
  font-size: 1.4vw;
  background-color: #202020 !important;
}
#footer .links h2 {
  margin-top: 5vw;
  text-decoration: underline;
  color: #fff;
  font-size: 1.5vw;
  background-color: rgb(66, 65, 65);
}
#footer .links a {
  width: fit-content;
  background-color: #202020 !important;
}
.mail {
  font-size: 1.8vw !important;
  color: #fff;
}
.button {
  display: inline-block;
  height: 2.28vw;
  width: fit-content;
  overflow: hidden;
  position: relative;
  color: white;
  transition: all ease 1s;
  background-color: #202020 !important;
}

.label-up {
  padding: 0vw 0.5vw;
  display: block;
  height: 100%;
  font-size: 1.8vw;
  width: 100%;
  position: relative;
  top: 0%;
  transition: all ease 0.5s;
  background-color: #202020 !important;
  font-family: os;
}
.label-up i {
  margin-right: 0.3vw;
  background-color: #202020 !important;
  font-size: 2vw;
}

.button:hover .label-up {
  top: -100%;
}

#img-cont {
  height: 9vw;
  width: 8.7vw;
  background: #202020;
}
#img-cont img {
  margin-top: 1.9vw;
  margin-left: 2vw;

  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  background: #202020;
}
#copyright {
  background-color: #202020 !important;
  width: 100%;
  height: 1vw;
}
#copyright h3 {
  text-align: center;
  width: 70%;
  background-color: #202020 !important;
  margin-left: 15%;
  color: rgb(255, 64, 0);
  font-weight: 400;
  font-size: 1.5vw;
}

.overflow {
  overflow: hidden;
  background-color: #202020 !important;
}