@font-face {
  font-family: gil;
  src: url("/static/font/Gilroy-Light.otf");
}

@font-face {
  font-family: Nunito;
  src: url("/static/font/Nunito-VariableFont_wght.ttf");
}

@font-face {
  font-family: plain;
  src: url("/static/font/plain-regular-webfont.woff");
}

@font-face {
  font-family: os;
  src: url("/static/font/Oswald-VariableFont_wght.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: #151515;
}
#page1 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 2vw 0vw;
}
#img-div {
  position: fixed;
  padding: 1.5vw 2.7vw;
}
img {
  width: 4.5vw;
}
.container {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 2vw;
  position: relative;
  overflow: hidden;
  height: 45vw;
  width: 60vw;
}

.container p {
  font-size: 14px;
  line-height: 1.2vw;
}

.container button {
  background-color: rgba(255, 64, 0, 0.726);
  color: #fff;
  font-size: 1.3vw;
  padding: 0.5vw 1.5vw;
  border: 1px solid transparent;
  border-radius: 5vw;
  font-weight: 600;
  letter-spacing: 0.1vw;
  margin-top: 1vw;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.container button:hover {
  scale: 1.1;
}
.container button p {
  position: relative;
  z-index: 9;
  transition: all 0.3s ease-in;
}
.container button.hidden {
  background-color: transparent;
  border-color: #fff;
  scale: 1;
  position: relative;
  padding: 0vw 2vw;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  padding: 1vw 2vw;
}
.container button.hidden::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #fff !important;
  bottom: -100%;
  left: 0;
  transition: all 0.3s ease-in-out;
}
.container button:hover p {
  color: black !important;
}
.container button.hidden:hover::after {
  bottom: 0;
}
.container .form-container form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 2vw;
  height: 100%;
  background-color: #2d2d2d;
  gap: 2.5vw;
}
.container form h1 {
  font-family: plain;
  font-size: 3vw;
  margin-bottom: 2vw;
  color: #fff;
  font-weight: 100;
}
form .input-box {
  position: relative;
  border-bottom: 1px solid #fff;
  width: 80%;
  height: 3vw;
  background-color: transparent;
}
form .input-box label {
  position: absolute;
  top: 50%;
  left: 0.1vw;
  transform: translateY(-50%);
  font-size: 1vw;
  color: #fff;
  font-weight: 400;
  pointer-events: none;
  background-color: transparent;
  transition: all ease 0.5s;
}
form .input-box input[type="text"],
input[type="email"] {
  border: none;
  outline: none;
  color: #fff;
  font-weight: 100;
  font-size: 1vw;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

#select-program {
  width: 80%;
  border-bottom: 1px solid #fff;
  padding-bottom: 1vw;
}
#select-program #menu {
  background-color: rgba(255, 64, 0, 0.854) !important;
  width: 100%;
  color: #fff;
  padding: 0.5vw 0.5vw;
  font-size: 1.1vw;
  font-weight: 400;
  border: none;
  outline: none;
  border-radius: 1vw;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}

#select-program option {
  color: #fff;
  border: 1px solid #fff;
  background-color: #212121;
  font-size: 1vw;
  font-weight: 200;
}
#select-electives {
  width: 80%;
  border-bottom: 1px solid #fff;
  padding-bottom: 1vw;
}
#select-electives #elec-menu {
  background-color: rgba(255, 64, 0, 0.854) !important;
  width: 100%;
  color: #fff;
  padding: 0.5vw 0.5vw;
  font-size: 1.1vw;
  font-weight: 400;
  border: none;
  outline: none;
  border-radius: 1vw;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}

#select-electives option {
  color: #fff;
  border: 1px solid #fff;
  background-color: #212121;
  font-size: 1vw;
  font-weight: 200;
}

form .input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
  color: rgba(255, 64, 0, 0.854);
}
.container input {
  background-color: black;
  color: #fff;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}
form h1 {
  font-family: plain;
}
.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.active .sign-in {
  transform: translateX(100%);
}

.sign-up {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 80% 0 0 80%;
  z-index: 1000;
}

.container.active .toggle-container {
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;
}

.toggle {
  background-color: rgba(255, 64, 0, 0.726);
  height: 100%;
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.container.active .toggle {
  transform: translateX(50%);
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  gap: 1vw;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}
.toggle-panel h1 {
  font-size: 3vw;
  line-height: 3vw;
  font-weight: 300;
}
.toggle-panel p {
  font-size: 1.3vw;
  font-weight: 400;
}
.toggle-left {
  transform: translateX(-200%);
}

.container.active .toggle-left {
  transform: translateX(0);
}

.toggle-right {
  right: 0;
  transform: translateX(0);
}

.container.active .toggle-right {
  transform: translateX(200%);
}
#radio {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 3vw;
  gap: 0.5vw;
  border-bottom: 1px solid #fff;
  padding-bottom: 1vw;
  width: 79%;
}
#radio h3 {
  font-size: 1vw;
  font-weight: 400;
  color: #fff;
}
.radio-button-container {
  display: flex;
  align-items: center;
  gap: 1.8vw;
}

.radio-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.radio-button__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-button__label {
  display: inline-block;
  padding-left: 2vw;
  position: relative;
  font-size: 0.9vw;
  color: #f2f2f2;
  font-weight: 400;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.radio-button__custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.3vw;
  height: 1.3vw;
  border-radius: 50%;
  border: 2px solid rgba(255, 64, 0, 0.446);
  transition: all 0.3s ease;
}

.radio-button__input:checked + .radio-button__label .radio-button__custom {
  background-color: rgba(255, 64, 0, 0.854);
  border-color: transparent;
  transform: scale(0.8);
  box-shadow: 0 0 20px rgb(255, 64, 0);
}

.radio-button__input:checked + .radio-button__label {
  color: rgb(255, 64, 0);
}

.radio-button__label:hover .radio-button__custom {
  transform: scale(1.2);
  border-color: rgba(255, 64, 0, 0.854) s;
  box-shadow: 0 0 20px rgba(255, 64, 0, 0.854);
}
